{
    "extension": [
        ".ts",
        ".tsx"
    ],
    "require": [
        "ts-node/register"
    ],
    "exclude": [
        "**/*.d.ts",
        "test/**/*"
    ],
    "reporter": [
        "html",
        "text-summary"
    ],
    "all": true
}
